{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["flowtype", "jest", "promise", "react"],
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "standard-preact"
  ],
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true,
    "es6": true
  }
}
