{
    "linters": {
        "*.js": [
            "eslint"
        ],
        "**/*.+(js|jsx||json|yml|yaml|ts|tsx|graphql|vue|mjs)": [
            "prettier --write",
            "git add"
        ]
    },
    "ignore": ["**/dist/*"]
}
