@import '../../variables.css';

.gdpr_switch {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 32px;
    margin: 0 8px;
}

.gdpr_text_switch {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
}

.gdpr_children {
    text-align: center;
    min-width: 110px;
    font-size: 14px;
    color: var(--gdpr-font-black);

    &.switch_activated {
        color: var(--gdpr-color-success);
    }
}

.gdpr_switch > input {
    appearance: none;
    display: block;
    position: absolute;
    margin: 0;
    outline: none;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.gdpr_switch > input:focus,
.gdpr_switch > input:focus + span,
.gdpr_switch > input + span:focus {
    border: 1px dotted var(--gdpr-font-black);
}

.gdpr_shadow {
    display: flex;
    position: absolute;
    top: -6px;
    left: -12px;
    width: 44px;
    height: 44px;
    margin: 0;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: opacity .3s .1s, transform .3s .1s;
}

.gdpr_switch > input:checked + span > .gdpr_shadow {
    transform: translateX(20px);
    background-color: rgba(0, 0, 0, .3);
}

.gdpr_switch > input:active + span > .gdpr_shadow {
    opacity: 1;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.gdpr_switch:hover > input + span > .gdpr_shadow {
    opacity: .04;
}

.gdpr_switch > input:focus + span > .gdpr_shadow {
    opacity: .12;
}

.gdpr_switch:hover > input:focus + span > .gdpr_shadow {
    opacity: .16;
}

.gdpr_switch > span.gdpr_switch {
    display: flex;
    position: relative;
    align-items: center;
    width: 40px;
    margin: 0 8px 0 0;
    padding: 0 0;
    cursor: pointer;
}

.gdpr_switch > span.gdpr_switch::before {
    content: '';
    display: inline-flex;
    width: 100%;
    height: 14px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    background-color: var(--gdpr-color-disabled);
    vertical-align: top;
    transition: all .2s;
}

.gdpr_switch > span.gdpr_switch::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--gdpr-font-white);
    box-shadow: 0 0 5px 1px var(--gdpr-shadow-modal);
    transition: all .2s;
}

.gdpr_switch > input:checked + span.gdpr_switch::before {
    background-color: var(--gdpr-color-success);
}

.gdpr_switch > input:checked + span.gdpr_switch::after {
    background-color: var(--gdpr-font-white);
    box-shadow: 0 0 5px 1px var(--gdpr-color-success);
    transform: translateX(20px);
}
