@import '../../variables.scss';

$switch-width: 45px;

// switch container
.gdpr_switch {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 32px;
    margin: 0 8px;
}

.gdpr_children {
    text-align: center;
    min-width: 110px;
    font-size: 14px;
    color: $font-gray;

    &.switch_activated {
        color: $color-success;
    }
}

// input checkbox hidden
.gdpr_switch > input {
    appearance: none;
    display: block;
    position: absolute;
    margin: 0;
    outline: none;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.gdpr_shadow {
    display: flex;
    position: absolute;
    top: -6px;
    left: -12px;
    width: 44px;
    height: 44px;
    margin: 0;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: opacity .3s .1s, transform .3s .1s;
}

.gdpr_switch > input:checked + span > .gdpr_shadow {
    transform: translateX($switch-width - 20px);
    background-color: rgba(0, 0, 0, .3);
}

.gdpr_switch > input:active + span > .gdpr_shadow {
    opacity: 1;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.gdpr_switch:hover > input + span > .gdpr_shadow {
    opacity: .04;
}

.gdpr_switch > input:focus + span > .gdpr_shadow {
    opacity: .12;
}

.gdpr_switch:hover > input:focus + span > .gdpr_shadow {
    opacity: .16;
}

// span for switch
.gdpr_switch > span.gdpr_switch {
    display: flex;
    position: relative;
    align-items: center;
    width: $switch-width;
    margin: 0 8px 0 0;
    padding: 0 0;
    cursor: pointer;
}

// line switch
.gdpr_switch > span.gdpr_switch::before {
    content: '';
    display: inline-flex;
    width: 100%;
    height: 14px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    background-color: $color-disabled;
    vertical-align: top;
    transition: all .2s;
}

// button switch
.gdpr_switch > span.gdpr_switch::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: $font-white;
    box-shadow: 0 0 5px 1px $shadow-modal;
    transition: all .2s;
}

// checked change color line
.gdpr_switch > input:checked + span.gdpr_switch::before {
    background-color: $color-success;
}

// checked change color shadow button
.gdpr_switch > input:checked + span.gdpr_switch::after {
    background-color: $font-white;
    box-shadow: 0 0 5px 1px $color-success;
    transform: translateX($switch-width - 20px);
}
