$xtiny        : 400px !default;
$tiny        : 480px !default;
$small       : 576px !default;
$medium      : 768px !default;
$large       : 992px !default;
$extra-large : 1200px !default;

$bg-banner : #454D5D;
$bg-modal: #FEFEFE;

$shadow-modal: #454D5D;

$bg-mask : rgba(#000, .1);

$color-primary  : #0275D8;
$color-success  : rgb(82, 221, 184);
$color-info     : #5BC0DE;
$color-warning  : #F0AD4E;
$color-danger   : #D9534F;
$color-disabled   : #E3E3E3;
$color-inverse  : #333;
$color-muted    : #E3E3E3;

$color-base      : #111;

$font-black : $color-base;
$font-white : #FFF;
$font-gray : #666;

$bg-head-modal : #F9F9F9;
$color-border : #E3E3E3;

$radius-bt : 5px;
