@import '../../variables.scss';

.gdpr-mask {
    position: relative;
}

.gdpr_mask-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    background: #F7F7F7;
}

.gdpr_mask-desc {
    margin: 16px 0;
}

.gdpr_mask-action {
    @media screen and (max-width: $small) {
        justify-content: center;
    }

    .gdpr_btn {
        background: lighten($color-success, 20%);
        color: #333;
    }
}
