@import '../../variables.css';

.gdpr-mask {
    position: relative;
}

.gdpr_mask-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    background: var(--gdpr-bg-mask);
}

.gdpr_mask-desc {
    margin: 16px 0;
}

.gdpr_mask-action {
    @mixin small {
        justify-content: center;
    }

    .gdpr_btn {
        background: var(--gdpr-color-success);
        color: var(--gdpr-font-black);
    }
}
