.gdpr_banner {
    display: flex;
    position: fixed;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    background: #454D5D;
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    z-index: 2147483645;

    &-text {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
    }
}
