@import '../../variables.scss';

.gdpr_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    border: 0;
    font-size: 14px;
    color: $font-white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &-round {
        border-radius: $radius-bt;
    }

    &-success {
        background: $color-success;
    }

    &-error {
        background: $color-danger;
    }

    &-default {
        background: darken($color-muted, 5%);
        color: $font-black;
    }

    &:hover {
        opacity: .8;
    }
}
