@import '../../variables.css';

.gdpr_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    border: 0;
    font-size: 14px;
    color: var(--gdpr-font-black);
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &-round {
        border-radius: var(--gdpr-radius-bt);
    }

    &-success {
        background: var(--gdpr-color-success);
    }

    &-error {
        background: var(--gdpr-color-danger);
    }

    &-default {
        background: var(--gdpr-color-muted);
        color: var(--gdpr-font-black);
    }

    &:hover {
        opacity: .8;
    }

    &:focus {
        border: 1px dotted var(--gdpr-font-black);
    }
}
