.gdpr_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &-success {
        background: #48C1A0;
    }

    &-default {
        background: #CECECE;
    }

    &:hover {
        opacity: .8;
    }
}
