@import '../../variables.css';

.gdpr_list_element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px;
    min-height: 32px;
    background: #FFF;
    border-top: 1px solid var(--gdpr-color-border);

    &::before,
    &::after {
        content: '';
        flex: 0 0 10px;
    }
}

.gdpr_list_element-activate {
    border-left: 7px solid var(--gdpr-color-success);
}

.gdpr_list_element-disabled {
    border-left: 7px solid var(--gdpr-color-danger);
}

.gdpr_list_element-title {
    display: flex;
    align-items: center;

    strong {
        flex: 1;
        padding: 8px;
        font-weight: bold;
    }
}

.gdpr_list_element-desc {
    padding: 8px;
    font-size: 14px;
    color: var(--gdpr-font-gray);
}

.gdpr_list_element .gdpr_element-action {
    padding: 8px;
}
