@import '../../variables.scss';

.gdpr_list_element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px;
    min-height: 32px;
    background: #FFF;
    border-top: 1px solid $color-border;
}

.gdpr_list_element-activate {
    border-left: 7px solid $color-success;
}

.gdpr_list_element-disabled {
    border-left: 7px solid $color-danger;
}

.gdpr_list_element-title {
    display: flex;
    align-items: center;

    strong {
        flex: 1;
        padding: 8px;
        font-weight: bold;
    }
}

.gdpr_list_element-desc {
    padding: 8px;
    font-size: 14px;
    color: $font-gray;
}

.gdpr_list_element .gdpr_element-action {
    padding: 8px;
}
