@import '../../variables.scss';

.gdpr_list_element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: .5rem;
    min-height: 2rem;
    background: #FFF;
    border-top: 1px solid $color-border;
}

.gdpr_list_element-title {
    display: flex;
    align-items: center;

    strong {
        flex: 1;
        padding: .5rem;
        font-weight: bold;
    }
}

.gdpr_list_element-desc {
    padding: .5rem;
    font-size: .9rem;
    color: $font-gray;
}

.gdpr_list_element .gdpr_element-action {
    padding: .5rem;
}
